body {
    background-color: grey;
}

.wrapper {
    /* max-width: 900px; */
    background-color: white;
    margin: 0 auto;
    padding: 20px;
    height: fit-content;
}

.wrapper::after{
    content: "hello";
    clear: both;
}

.clear__float {
    margin-top: 50px;
    clear: both;
    padding: 10px;
    background-color: white;
}

img {
    width: 250px;
    float: left;
    margin: 10px;
}

.blue {
    background-color:#eee;
}

.green {
    background-color: #eee;

}
.yellow {
    background-color: #eee;
}

.box {
    height: 100px;
    width: 29%;
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    float: left;
}

h2, p {
    text-align: center;
}