* {
    margin: 0;
    padding: 0;
}

body{
    background: #eee;
}

.main_content {
    background: #fff;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 2%;
    position: relative;
    min-height: 700px;
}

.one {
    width: 400px;
    height: 400px;
    position: absolute;
    background: -webkit-linear-gradient(top, rgb(231, 231, 227) 0%, rgb(226, 226, 32) 100%);
    border-radius: 200px;
    top: 50px;
    left: 50px;
    opacity: 0.5;
}

.two {
    width: 400px;
    height: 400px;
    position: absolute;
    background: -webkit-linear-gradient(top,#eee 0%, rgb(160, 83, 83) 100%);
    border-radius: 200px;
    top: 50px;
    left: 250px;
    opacity: 0.5;
}

.three {
    width: 400px;
    height: 400px;
    position: absolute;
    background: -webkit-linear-gradient(top, #eee 0%, rgb(18, 216, 216) 100%);
    border-radius: 200px;
    top: 250px;
    left: 150px;
    opacity: 0.5;
}

.one:hover {
    background: -webkit-linear-gradient(top, #eee 0%, rgb(18, 216, 216) 100%);
}
.two:hover{
    background: -webkit-linear-gradient(top, rgb(231, 231, 227) 0%, rgb(226, 226, 32) 100%);
}
.three:hover{
    background: -webkit-linear-gradient(top,#eee 0%, rgb(160, 83, 83) 100%);
}