* {
    margin: 0;
    padding: 0;
}

body {
    background:grey;
}
.flex_container {
    display: flex;
    background: white;
    width: 80%;
    margin: auto;
}
.flex_item {
    width: 200px;
    height: 200px;
    display: block;
}

.one {
    background:red;
    flex-shrink: 1;
}

.two {
    background: blue;
    flex-shrink:2;
}

.three {
    background: green;
    flex-shrink: 3;
}