* {
    margin: 0;
    padding: 0;
}

body {
    background:grey;
}
.flex_container {
    display: flex;
    background: white;
}
.flex_item {
    width: 200px;
    height: 200px;
    display: block;
}

.one {
    background:red;
    flex-grow: 1;
}

.two {
    background: blue;
    flex-grow:2;
}

.three {
    background: green;
    flex-grow: 3;
}