* {
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 900px;
  height: 900px;
  background-color: rgb(153, 140, 134);
  /* border-radius: 200px; */
  background: url(https://pbs.twimg.com/profile_images/869656215374241795/JWrRTm0d.jpg);
  background-repeat: no-repeat;
  background-position: center;
}