body {
    background: paleturquoise;
    font-size: 14px;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact_box {
    background: #fff;
    display: flex;
}

.contact_left {
    background: white;
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact_right {
    background: blue;
    flex-basis: 40%;
    padding: 40px;
}

h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}