body {
    background: paleturquoise;
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

.container {
    width: 80%;
    margin: 50px auto;
}

.contact_box {
    background: #fff;
    display: flex;
}

.contact_left {
    background: white;
    flex-basis: 60%;
    max-width: 60%;
    padding: 40px 60px;
}

.contact_right {
    background: blue;
    flex-basis: 40%;
    padding: 40px;
}
.contact_right h3 {
    color: white;
}
h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 40px;
}

.input_row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input_row .input_group{
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea {
    width: 100%;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button {
    background: #1c00b5 ;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0,181,0.3);
}

.contact_left h3 {
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact_left h3 {
    font-weight: 600;
    margin-bottom: 30px;
}